{{#info}}
<div class="good-img-wrapper">
    <img class="good-img" src="{{imgUrl}}" />
</div>
<div class="detail-info">
    <p class="detail-item">品牌名称：{{brand}} </p>
    <p class="detail-item">商品名称:{{title}}</p>
    <p class="detail-item">材质：{{material}}</p>
    <p class="detail-item">产地:{{addr}}</p>
    <p class="detail-item">商品编号：{{code}}</p>
    <p class="detail-item">洗涤说明:{{washingInstructions}}</p>
    <p class="detail-item">所属分类：{{classify}} </p>
    <p class="detail-item">备注:{{remark}}</p>
    <p class="detail-item">其他：{{other}} </p>
</div>
{{/info}}
